.local-search-container {
    max-width: 1052px;
    margin: 0 auto;
}

.input-wrapper{
    position: relative;
    input[type=text], select, .radio-outer {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: #fff;
        border-radius: 5px;
        font-size: 17px;
        color: #1d2b3b;
        line-height: 24px;
        padding: 14px;
        border: 0;
        outline: 0;
        width: 100%;
        font-family: source sans pro,sans-serif;
        -webkit-box-shadow: 0 2px 6px 0 rgba(123,124,122,.22), 0 13px 12px -11px rgba(180,181,176,.32);
        box-shadow: 0 2px 6px 0 rgba(123,124,122,.22), 0 13px 12px -11px rgba(180,181,176,.32);
        min-height: 56px;
    }
}

.inline_wrap  {

    label {
        position: absolute;
        z-index: 2;
        font-size: 17px;
        left: 16px;
        top: 16px;
        will-change: transform;
        transition: all .2s ease-in;
        color: #252d13;
    }

    &.active {
        label {
            transform: translateY(-11px);
            font-size: 15px;
        }

        input {
            padding: 27px 14px 5px;
        }
    }

    &.select {
        label {
            transform: translateY(-11px);
            font-size: 15px;
        }
    }

    .select-container:after {
        top: 24px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        right: 16px;
        border-top: 8px solid #000;
        opacity: .5;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
    }

    select {
        background: #fff;
        border-radius: 5px;
        font-size: 17px;
        color: #1d2b3b;
        line-height: 24px;
        outline: 0;
        box-shadow: 0 2px 6px 0 rgba(123,124,122,.22), 0 13px 12px -11px rgba(180,181,176,.32);
        text-transform: none;
        padding: 27px 16px 5px;
    }
}

.engines {
    .icon {
        height: 24px;
        width: 24px;
    }

    .radio-outer {
        input[type=radio] {
            position: absolute;
            z-index: 2;
            left: 8px;
            top: 13px;

            &:checked+label {
                border: 1px solid #547bba;
            }
        }

        .radio-inner {
            position: relative;
            z-index: 1;
            flex: 1;
            flex-grow: 0;
            flex-basis: auto;
            margin: 0 16px 0 0;
        }

        label {
            &.radio {
                cursor: pointer;
                border: 1px solid #e1e1e1;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: flex-start;
                padding: 7px 7px 7px 28px;
                position: relative;
            }
        }
    }
}

button{
    position: relative;
    display: inline-block;
    padding: 8px 32px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    font-family: 'CamphorW01-Heavy',source sans pro,sans-serif;
    cursor: pointer;
    color: #1d2b3b;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 24px;
    transition: box-shadow .15s ease-in-out,transform .15s ease-in-out;
    background-color: #f9f9f9;
    background-image: linear-gradient(-180deg,#fff 0%,#F9F9F9 50%,#f5f5f5 96%);
    box-shadow: 0 1px 4px 0 rgba(123,124,122,.42), inset 0 -1px 0 0 rgba(255,255,255,.12);
    text-shadow: 0 1px 0 rgba(0,0,0,.18);
    outline: 0;

    &:hover {
        transform: translateY(-2px);
    }

    &.green {
        color: #fff;
        text-shadow: 0 1px 2px rgba(0,0,0,.31);
        background-color: #a5c559;
        background-image: linear-gradient(-180deg,#ACCF60 4%,#A3C559 18%,#93B24F 59%,#83A044 100%);
        box-shadow: 0 2px 3px 0 #657a36, inset 0 -1px 0 0 rgba(163,197,89,.34);
        &:hover {
            box-shadow: 0 4px 6px 0 rgba(101,122,54,.8), inset 0 -1px 0 0 rgba(163,197,89,.34);
        }
    }
}
