@import '../local-search-form/local-search-form.component.scss';

.page-container {
    width: 96px;
    height: 76px;
    border-radius: 5px;
}

@media screen and (max-width: 486px) {
    .tooltip-container {
        text-align: center;
        display: block !important;
    }
}

@media screen and (min-width: 650px) {
    #search-results {
        .info {
            span {
                padding-right:24px;
                font-size: 16px;
                line-height: 24px

                i {
                    line-height: 24px;
                    font-size: 18px
                }
            }
        }

        .carousel-cell {
            img {
                width: 32px;
                height: 32px;
            }
        }

        .page-container {
            width: 156px;
            height: 88px;
        }
    }

    .page-number  {
        strong {
            font-size: 22px;
            line-height: 24px
        }
    }
}

#search-results  {
    .carousel-cell {
        div {
            transition: all .3s ease-in;
            .page-number {
                color: #547bba;
                text-decoration: none;
            }
            &:hover {
                box-shadow: 0 10px 20px -4px rgba(84,123,186,.72), 0 0 4px 0 rgba(13,16,7,.04), 0 7px 15px -2px rgba(13,16,7,.08);
                transform: translateY(-2px);
            }
        }
        img {
            width: 24px;
            height: 24px;
        }
    }

    .info {
        text-align: center;
        margin-bottom: 8px;
        margin-top: 8px;

        span {
            display: inline-block;
            font-size: 14px;
            text-align: left;
            font-weight: 600;
            line-height: 16px;
            padding-right: 8px;

            i {
                display: block;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
}

span.hilfe {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #547bba;
    font-weight: 600;
    font-size: 16px;
    border-radius: 100%;
    vertical-align: top;
    color: #fff;
    line-height: 18px;
    text-align: center;
}