@media only screen and (-webkit-min-device-pixel-ratio: 1.25),only screen and (min--moz-device-pixel-ratio:1.25),only screen and (-o-min-device-pixel-ratio:1.25 / 1),only screen and (min-device-pixel-ratio:1.25),only screen and (min-resolution:200dpi),only screen and (min-resolution:1.25dppx) {
    .search-rankings-tool {
        background:url(../assets/local_search_checker_800.jpg) center top no-repeat;
        background-size: 400px 340px
    }
}

@media screen and (min-width: 400px) {
    .search-rankings-tool {
        background:url(../assets/local_search_checker_800.jpg) center top no-repeat;
        background-size: 800px 559px
    }
}

@media screen and (min-width: 800px) {
    .search-rankings-tool {
        background:url(../assets/local_search_checker.jpg) center top no-repeat;
        background-size: 1800px 559px
    }
}

