/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F9FAF8;
}

h1, h2 {
    font-family: 'CamphorW01-Heavy',source sans pro,sans-serif;
    font-weight: 400;
    color: #252d13;
}

h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px
}

@media screen and (min-width: 414px) {
    h1 {
        font-size:36px;
        font-size: 2.25rem;
        line-height: 40px
    }
}

@media screen and (max-width: 414px) {
    .inline_wrap {
        label {
            font-size: 0.86rem !important;
        }
    }
}

@media all and (min-width: 800px) {
    h1 {
        font-size:42px;
        font-size: 2.625rem;
        line-height: 48px
    }
}

@media all and (min-width: 1024px) {
    h1 {
        font-size:48px;
        font-size: 3rem;
        line-height: 56px
    }
}

.carousel-container {
    cursor: pointer !important;
}

.carousel-arrow-disabled {
    opacity: 0 !important;
}

.carousel-arrow{
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.custom-tooltip {
    position: relative;
    &:after {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      content: attr(data-tooltip);
      padding: 8px;
      bottom: 1.4em;
      border-radius: 3px;
      left: 50%;
      transform: translateX(-50%) translateY(-2px);
      background: #547bba;
      color: white;
      width: 170px;
      font-size: 13px;
      font-weight: 500;
      z-index: 2;
      border-radius: 2px;
      transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    }
    &:hover {
      &:after {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }
}