/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F9FAF8;
}

h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 32px
}

@media screen and (min-width: 414px) {
    h1 {
        font-size:36px;
        font-size: 2.25rem;
        line-height: 40px
    }
}

@media all and (min-width: 800px) {
    h1 {
        font-size:42px;
        font-size: 2.625rem;
        line-height: 48px
    }
}

@media all and (min-width: 1024px) {
    h1 {
        font-size:48px;
        font-size: 3rem;
        line-height: 56px
    }
}

